{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load naturalduration %}

{% block head_extra  %}
<style>
 .container { margin-bottom:100px; }
 h2 { padding-top:20px; }
 .image-wrapper {
    contain: content;
 }
 .image-wrapper :hover {
     background:rgba(0,0,0,0.3);
 }
 .caption {
     position: fixed;
     top: 5px;
     left: 5px;
     padding: 3px;
     font-size: 90%;
     color:white;
     background:rgba(0,0,0,0.4);
 }

 .caption-medium {
     position: fixed;
     top: 5px;
     left: 5px;
     padding: 3px;
     font-size: 75%;
     color:white;
     background:rgba(0,0,0,0.4);

 }
 .caption-small {
     position: fixed;
     top: 5px;
     left: 5px;
     padding: 3px;
     font-size: 60%;
     color:white;
     background:rgba(0,0,0,0.4);

 }
</style>
{% endblock %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            {% if user.is_authenticated %}
            <div class="btn-group me-2">
                {% if user.profile.lastfm_username and not user.profile.lastfm_auto_import %}

                <form action="{% url 'scrobbles:lastfm-import' %}" method="get">
                    <button type="submit" class="btn btn-sm btn-outline-secondary">Last.fm Sync</button>
                </form>
                {% endif %}
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                    data-bs-target="#importModal">Import</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                    data-bs-target="#exportModal">Export</button>
            </div>
            {% endif %}
            <div class="dropdown">
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" id="graphDateButton"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div data-feather="calendar"></div>
                    This week
                </button>
                <div class="dropdown-menu" data-bs-toggle="#graphDataChange" aria-labelledby="graphDateButton">
                    <a class="dropdown-item" href="#">This month</a>
                    <a class="dropdown-item" href="#">This year</a>
                </div>
            </div>
        </div>
    </div>

    {% if not user.is_authenticated %}
    <p>Today <b>{{counts.today}}</b> | This Week <b>{{counts.week}}</b> | This Month <b>{{counts.month}}</b> | This Year <b>{{counts.year}}</b> | All Time <b>{{counts.alltime}}</b></p>
    <canvas class="my-4 w-100" id="myChart" width="900" height="300"></canvas>
    {% endif %}

    <div class="container">

        {% if user.is_authenticated %}
        <div class="row">
            {% include "scrobbles/_quick_resume.html" %}
        </div>

        <div class="row">
        <h2>Last Scrobbles</h2>
        <p>Today <b>{{counts.today}}</b> | This Week <b>{{counts.week}}</b> | This Month <b>{{counts.month}}</b> | This Year <b>{{counts.year}}</b> | All Time <b>{{counts.alltime}}</b></p>
        </div>
        <div class="row">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#latest-listened"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Tracks</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#latest-watched"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Videos</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#latest-podcasted"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Podcasts</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#latest-sports"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Sports</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#latest-videogames"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Video Games</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#latest-boardgames"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Board Games</button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent2">
                <div class="tab-pane fade show active" id="latest-listened" role="tabpanel"
                    aria-labelledby="latest-listened-tab">
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Time</th>
                                    <th scope="col">Album</th>
                                    <th scope="col">Track</th>
                                    <th scope="col">Artist</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for scrobble in object_list %}
                                <tr>
                                    <td>{{scrobble.timestamp|naturaltime}}</td>
                                    {% if scrobble.track.album.cover_image %}
                                    <td><a href="{{scrobble.track.album.get_absolute_url}}"><img src="{{scrobble.track.album.cover_image_small.url}}" width=25 height=25 style="border:1px solid black;" /></aa></td>
                                    {% else %}
                                    <td><a href="{{scrobble.track.album.get_absolute_url}}">{{scrobble.track.album.name}}</a></td>
                                    {% endif %}
                                    <td><a href="{{scrobble.track.get_absolute_url }}">{{scrobble.track.title}}</a></td>
                                    <td><a href="{{scrobble.track.artist.get_absolute_url }}">{{scrobble.track.artist.name}}</aa></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade show" id="latest-watched" role="tabpanel"
                    aria-labelledby="latest-watched-tab">
                    <h2>Latest watched</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Time</th>
                                    <th scope="col">Cover</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Series</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for scrobble in video_scrobble_list %}
                                <tr>
                                    <td>{{scrobble.timestamp|naturaltime}}</td>
                                    {% if scrobble.video.cover_image %}
                                    <td><img src="{{scrobble.media_obj.cover_image_medium.url}}" width=25 height=25 style="border:1px solid black;" /></td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}
                                    <td><a href="{{scrobble.video.get_absolute_url }}">{% if scrobble.video.tv_series%}S{{scrobble.video.season_number}}E{{scrobble.video.episode_number}} -{%endif %} {{scrobble.video.title}}</a></td>
                                    <td><a href="{{scrobble.video.tv_series.get_absolute_url }}">{% if scrobble.video.tv_series %}{{scrobble.video.tv_series}}</a>{% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade show" id="latest-sports" role="tabpanel" aria-labelledby="latest-sports-tab">
                    <h2>Latest Sports</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Round</th>
                                    <th scope="col">League</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for scrobble in sport_scrobble_list %}
                                <tr>
                                    <td>{{scrobble.timestamp|naturaltime}}</td>
                                    <td>{{scrobble.sport_event.title}}</td>
                                    <td>{{scrobble.sport_event.round.name}}</td>
                                    <td>{{scrobble.sport_event.round.season.league}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade show" id="latest-podcasted" role="tabpanel"
                    aria-labelledby="latest-podcasted-tab">
                    <h2>Latest Podcasted</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Podcast</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for scrobble in podcast_scrobble_list %}
                                <tr>
                                    <td>{{scrobble.timestamp|naturaltime}}</td>
                                    <td>{{scrobble.podcast_episode.title}}</td>
                                    <td>{{scrobble.podcast_episode.podcast}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade show" id="latest-videogames" role="tabpanel"
                    aria-labelledby="latest-videogames-tab">
                    <h2>Latest Video Games</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Cover</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Time played (mins)</th>
                                    <th scope="col">Percent complete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for scrobble in videogame_scrobble_list %}
                                <tr>
                                    <td>{{scrobble.timestamp|naturaltime}}</td>
                                    {% if scrobble.videogame_screenshot %}
                                    <td><img src="{{scrobble.videogame_screenshot_medium.url}}" width=25 height=25 style="border:1px solid black;" /></td>
                                    {% else %}
                                    {% if scrobble.videogame.hltb_cover %}
                                    <td><img src="{{scrobble.videogame.hltb_cover_medium.url}}" width=25 height=25 style="border:1px solid black;" /></td>
                                    {% endif %}
                                    {% endif %}
                                    <td><a href="{{scrobble.media_obj.get_absolute_url}}">{{scrobble.media_obj.title}}</a></td>
                                    <td>{{scrobble.playback_position_seconds|natural_duration}}</td>
                                    <td>{{scrobble.percent_played}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="tab-pane fade show" id="latest-boardgames" role="tabpanel"
                    aria-labelledby="latest-boardgames-tab">
                    <h2>Latest Board Games</h2>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Cover</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Time played (mins)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for scrobble in boardgame_scrobble_list %}
                                <tr>
                                    <td>{{scrobble.timestamp|naturaltime}}</td>
                                    <td><img src="{{scrobble.media_obj.cover_medium.url}}" width=25 height=25 style="border:1px solid black;" /></td>
                                    <td><a href="{{scrobble.media_obj.get_absolute_url}}">{{scrobble.media_obj.title}}</a></td>
                                    <td>{{scrobble.playback_position_seconds|natural_duration}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
</main>

<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importModalLabel">Import scrobbles</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <div aria-hidden="true">&times;</div>
                </button>
            </div>
            <form action="{% url 'scrobbles:audioscrobbler-file-upload' %}" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="tsv_file" class="col-form-label">Audioscrobbler TSV file:</label>
                        <input type="file" name="tsv_file" class="form-control" id="id_tsv_file">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Import</button>
                </div>
            </form>
            <form action="{% url 'scrobbles:koreader-file-upload' %}" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="tsv_file" class="col-form-label">KOReader sqlite file:</label>
                        <input type="file" name="sqlite_file" class="form-control" id="id_sqlite_file">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Import</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exportModalLabel">Export scrobbles</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <div aria-hidden="true">&times;</div>
                </button>
            </div>
            <form action="{% url 'scrobbles:export' %}" method="get">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        {{export_form.as_div}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Export</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
<script>
    /* globals Chart:false, feather:false */
    (function () {
    'use strict'

    feather.replace({ 'aria-hidden': 'true' })

    // Graphs
    var ctx = document.getElementById('myChart')
    // eslint-disable-next-line no-unused-vars
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                {% for day in weekly_data.keys %}
                "{{day}}"{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            datasets: [{
                data: [
                {% for count in weekly_data.values %}
                {{count}}{% if not forloop.last %},{% endif %}
                {% endfor %}
                ],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#007bf0',
                borderWidth: 4,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                ticks: {
                    beginAtZero: true
                }
                }]
            },
            legend: {
                display: false
            }
        }
    })
    })()

</script>
{% endblock %}
