{% load static %}
{% load humanize %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Now Playing</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

    </head>
    <body>
        <h3>Listening</h3>
        <div class="now-playing">
            {% if listening %}
            <div class="titles">
                <p><a href="{{listening.media_obj.get_absolute_url}}">{{listening.media_obj.title}}</a></p>
                {% if listening.media_obj.subtitle %}<p><em><a href="{{listening.media_obj.subtitle.get_absolute_url}}">{{listening.media_obj.subtitle}}</a></em></p>{% endif %}
            </div>
            <p><small>{{listening.timestamp|naturaltime}} from {{listening.source}}</small></p>
            <p>{{listening.percent_played}}% played</p>
            {% else %}
            <div class="titles">
                <p>Nothing</p>
            </div>
            {% endif %}
        </div>
        <hr />
        <h3>Watching</h3>
        <div class="watching">
            {% if watching %}
            <div class="titles">
                <p><a href="{{watching.media_obj.get_absolute_url}}">{{watching.media_obj.title}}</a></p>
                {% if watching.media_obj.subtitle %}<p><em><a href="{{watching.media_obj.subtitle.get_absolute_url}}">{{watching.media_obj.subtitle}}</a></em></p>{% endif %}
            </div>
            <p><small>{{watching.timestamp|naturaltime}} from {{watching.source}}</small></p>
            {% else %}
            <div class="titles">
                <p>Nothing</p>
            </div>
            {% endif %}
        </div>
        <hr />
        <h3>Going</h3>
        <div class="going">
            {% if going %}
            <div class="titles">
                <p><a href="{{going.media_obj.get_absolute_url}}">{{going.media_obj}}</a></p>
                {% if going.media_obj.subtitle %}<p><em><a href="{{going.media_obj.subtitle.get_absolute_url}}">{{going.media_obj.subtitle}}</a></em></p>{% endif %}
            </div>
            <p><small>{{going.timestamp|naturaltime}} from {{going.source}}</small></p>
            {% else %}
            <div class="titles">
                <p>Nowhere</p>
            </div>
            {% endif %}
        </div>
        <hr />
        <h3>Playing</h3>
        <div class="playing">
            {% if playing %}
            <div class="titles">
                <p><a href="{{playing.media_obj.get_absolute_url}}">{{playing.media_obj}}</a></p>
                {% if playing.media_obj.subtitle %}<p><em><a href="{{playing.media_obj.subtitle.get_absolute_url}}">{{playing.media_obj.subtitle}}</a></em></p>{% endif %}
            </div>
            <p><small>{{playing.timestamp|naturaltime}} from {{playing.source}}</small></p>
            {% else %}
            <div class="titles">
                <p>Nothing</p>
            </div>
            {% endif %}
        </div>
        <hr />
        <h3>Reading</h3>
        <div class="reading">
            {% if reading %}
            <div class="titles">
                <p><a href="{{reading.media_obj.get_absolute_url}}">{{reading.media_obj}}</a></p>
                {% if reading.media_obj.subtitle %}<p><em><a href="{{reading.media_obj.subtitle.get_absolute_url}}">{{reading.media_obj.subtitle}}</a></em></p>{% endif %}
            </div>
            <p><small>{{reading.timestamp|naturaltime}} from {{reading.source}}</small></p>
            {% else %}
            <div class="titles">
                <p>Nothing</p>
            </div>
            {% endif %}
        </div>
        <hr />
        <h3>Sessioning</h3>
        <div class="sessioning">
            {% if sessioning %}
            <div class="titles">
                <p><a href="{{sessioning.media_obj.get_absolute_url}}">{{sessioning.media_obj}}</a></p>
                {% if sessioning.media_obj.subtitle %}<p><em><a href="{{sessioning.media_obj.subtitle.get_absolute_url}}">{{sessioning.media_obj.subtitle}}</a></em></p>{% endif %}
            </div>
            <p><small>{{sessioning.timestamp|naturaltime}} from {{sessioning.source}}</small></p>
            {% else %}
            <div class="titles">
                <p>Nothing</p>
            </div>
            {% endif %}
        </div>
        <hr />
        <h3>Sporting</h3>
        <div class="sporting">
            {% if sporting %}
            <div class="titles">
                <p><a href="{{sporting.media_obj.get_absolute_url}}">{{sporting.media_obj}}</a></p>
                {% if sporting.media_obj.subtitle %}<p><em><a href="{{sporting.media_obj.subtitle.get_absolute_url}}">{{sporting.media_obj.subtitle}}</a></em></p>{% endif %}
            </div>
            <p><small>{{sporting.timestamp|naturaltime}} from {{sporting.source}}</small></p>
            {% else %}
            <div class="titles">
                <p>Nothing</p>
            </div>
            {% endif %}
        </div>
        <hr />
        <h3>Browsing</h3>
        <div class="browsing">
            {% if browsing %}
            <div class="titles">
                <p><a href="{{browsing.media_obj.get_absolute_url}}">{{browsing.media_obj}}</a></p>
                {% if browsing.media_obj.subtitle %}<p><em><a href="{{browsing.media_obj.subtitle.get_absolute_url}}">{{browsing.media_obj.subtitle}}</a></em></p>{% endif %}
            </div>
            <p><small>{{browsing.timestamp|naturaltime}} from {{browsing.source}}</small></p>
            {% else %}
            <div class="titles">
                <p>Nothing</p>
            </div>
            {% endif %}
        </div>
        <hr />
        <h3>Participating</h3>
        <div class="participating">
            {% if participating %}
            <div class="titles">
                <p><a href="{{participating.media_obj.get_absolute_url}}">{{participating.media_obj}}</a></p>
                {% if participating.logdata.details %}<p><em>{{participating.logdata.details }}</em></p>{% endif %}
            </div>
            <p><small>{{participating.timestamp|naturaltime}} from {{participating.source}}</small></p>
            {% else %}
            <div class="titles">
                <p>Nothing</p>
            </div>
            {% endif %}
        </div>
        <hr />
        <h3>Working</h3>
        <div class="working">
            {% if working %}
            <div class="titles">
                <p><a href="{{working.media_obj.get_absolute_url}}">{{working.media_obj}}</a></p>
                {% if working.logdata.description %}<p><em>{{working.logdata.description}}</em></p>{% endif %}
            </div>
            <p><small>{{working.timestamp|naturaltime}} from {{working.source}}</small></p>
            {% else %}
            <div class="titles">
                <p>Nothing</p>
            </div>
            {% endif %}
        </div>
    </body>
</html>
