{% load static %}
{% load humanize %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Now Playing</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

    </head>
    <body>
        <div class="now-playing">
            <h3>Listening</h3>
            <div class="titles">
            {% if listening %}
                <p><em>{{listening.media_type}}</em></p>
                <p><a href="{{listening.media_obj.get_absolute_url}}">{{listening.media_obj.title}}</a></p>
                {% if listening.media_obj.subtitle %}<p><em><a href="{{listening.media_obj.subtitle.get_absolute_url}}">{{listening.media_obj.subtitle}}</a></em></p>{% endif %}
            </div>
            <p><small>{{listening.timestamp|naturaltime}} from {{listening.source}}</small></p>
            <p>{{listening.percent_played}}% played</p>
            {% else %}
            <div class="titles">
                <p>Nothing</p>
            </div>
            {% endif %}
        </div>
        <hr />
        <div class="watching">
            <h3>Watching</h3>
            <div class="titles">
                {% if watching %}
                <p><em>{{watching.media_type}}</em></p>
                <p><a href="{{watching.media_obj.get_absolute_url}}">{{watching.media_obj.title}}</a></p>
                {% if watching.media_obj.subtitle %}<p><em><a href="{{watching.media_obj.subtitle.get_absolute_url}}">{{watching.media_obj.subtitle}}</a></em></p>{% endif %}
            <p><small>{{watching.timestamp|naturaltime}} from {{watching.source}}</small></p>
            </div>
            {% else %}
            <div class="titles">
                <p>Nothing</p>
            </div>
            {% endif %}
        </div>
        <hr />
        <div class="going">
            <h3>Going</h3>
            <div class="titles">
                {% if going %}
                <p><em>{{going.media_type}}</em></p>
                <p><a href="{{going.media_obj.get_absolute_url}}">{{going.media_obj}}</a></p>
                {% if going.media_obj.subtitle %}<p><em><a href="{{going.media_obj.subtitle.get_absolute_url}}">{{going.media_obj.subtitle}}</a></em></p>{% endif %}
            <p><small>{{going.timestamp|naturaltime}} from {{going.source}}</small></p>
            </div>
            {% else %}
            <div class="titles">
                <p>Nowhere</p>
            </div>
            {% endif %}
        </div>
        <hr />
        <div class="playing">
            <h3>Playing</h3>
            <div class="titles">
                {% if playing %}
                <p><em>{{playing.media_type}}</em></p>
                <p><a href="{{playing.media_obj.get_absolute_url}}">{{playing.media_obj}}</a></p>
                {% if playing.media_obj.subtitle %}<p><em><a href="{{playing.media_obj.subtitle.get_absolute_url}}">{{playing.media_obj.subtitle}}</a></em></p>{% endif %}
            <p><small>{{playing.timestamp|naturaltime}} from {{playing.source}}</small></p>
            </div>
            {% else %}
            <div class="titles">
                <p>Nothing</p>
            </div>
            {% endif %}
        </div>
        <hr />
        <div class="reading">
            <h3>Reading</h3>
            <div class="titles">
                {% if reading %}
                <p><em>{{reading.media_type}}</em></p>
                <p><a href="{{reading.media_obj.get_absolute_url}}">{{reading.media_obj}}</a></p>
                {% if reading.media_obj.subtitle %}<p><em><a href="{{reading.media_obj.subtitle.get_absolute_url}}">{{reading.media_obj.subtitle}}</a></em></p>{% endif %}
            <p><small>{{reading.timestamp|naturaltime}} from {{reading.source}}</small></p>
            </div>
            {% else %}
            <div class="titles">
                <p>Nothing</p>
            </div>
            {% endif %}
        </div>
        <hr />
        <div class="sessioning">
            <h3>Sessioning</h3>
            <div class="titles">
                {% if sessioning %}
                <p><em>{{sessioning.media_type}}</em></p>
                <p><a href="{{sessioning.media_obj.get_absolute_url}}">{{sessioning.media_obj}}</a></p>
                {% if sessioning.media_obj.subtitle %}<p><em><a href="{{sessioning.media_obj.subtitle.get_absolute_url}}">{{sessioning.media_obj.subtitle}}</a></em></p>{% endif %}
            <p><small>{{sessioning.timestamp|naturaltime}} from {{sessioning.source}}</small></p>
            </div>
            {% else %}
            <div class="titles">
                <p>Nothing</p>
            </div>
            {% endif %}
        </div>
    </body>
</html>
