{% extends "base_list.html" %}
{% load static %}

{% block title %}{{object.title}}{% if object.tv_series %} - {{object.tv_series}}{% endif %}{% endblock %}

{% block head_extra %}
<style>
    .cover {float:left; width:300px; margin-right:10px;}
    .summary{float:left; width:600px; margin-left:10px;}
</style>
{% endblock %}

{% block lists %}

<div class="row">
    {% if object.cover_image %}
    <div class="cover"><img src="{{object.cover_image.url}}" /></div>
    {% endif %}
    <div class="summary">
        {% if object.plot%}
        <p>{{object.plot|safe|linebreaks|truncatewords:160}}</p>
        <hr />
        {% endif %}
        <p style="float:right;">
            <a href="{{object.imdb_link}}"><img src="{% static " images/imdb-logo.png" %}" width=35></a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <h3>Last scrobbles</h3>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Title</th>
                        <th scope="col">Season</th>
                        <th scope="col">Episode</th>
                    </tr>
                </thead>
                <tbody>
                    {% for scrobble in scrobbles %}
                    <tr>
                        <td>{{scrobble.timestamp}}</td>
                        <td><a href="{{scrobble.media_obj.get_absolute_url}}">{{scrobble.media_obj.title}}</a></td>
                        <td>{{scrobble.media_obj.season_number}}</td>
                        <td>{{scrobble.media_obj.episode_number}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
