{% extends "base_list.html" %}
{% load mathfilters %}
{% load static %}
{% load naturalduration %}

{% block title %}{{object.title}}{% endblock %}

{% block lists %}

<div class="row">

    {% if object.hltb_cover%}
    <p style="float:left; width:402px; padding:0; border: 1px solid #ccc">
        <img src="{{object.hltb_cover.url}}" width=400 />
    </p>
    {% endif %}
    <div style="float:left; width:600px; margin-left:10px; ">
        {% if object.summary %}
        <p>{{object.summary|safe|linebreaks|truncatewords:160}}</p>
        <hr/>
        {% endif %}
        <p style="float:right;">
            <a href="{{object.igdb_link}}"><img src="{% static "images/igdb-logo.png" %}" width=35></a>
            <a href="{{object.hltb_link}}"><img style="background: black;" src="{% static "images/hltb.webp" %}" width=35></a>
        </p>
    </div>
</div>
<div class="row">
    <p>{{object.scrobble_set.count}} scrobbles</p>
    <p><a href="">Start playing</a></p>
</div>
<div class="row">
    <div class="col-md">
        <h3>Last scrobbles</h3>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Platforms</th>
                </tr>
            </thead>
            <tbody>
                {% for scrobble in object.scrobble_set.all|dictsortreversed:"timestamp" %}
                <tr>
                    <td>{{scrobble.timestamp}}</td>
                    <td>{% if scrobble.in_progress %}Now playing{% else %}{{scrobble.playback_position|natural_duration}}{% endif %}</td>
                    <td>{% for platform in scrobble.video_game.platforms.all %}<a href="{{platform.get_absolute_url}}">{{platform}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
